body{

font-family:Arial, sans-serif;

background:#f2f4f7;

margin:0;

}


.container{

max-width:500px;

margin:40px auto;

background:white;

padding:25px;

border-radius:15px;

box-shadow:0 5px 20px #ccc;

text-align:center;

}


h1{

color:#1b4d3e;

}



input{

width:90%;

padding:14px;

font-size:16px;

border-radius:8px;

border:1px solid #ccc;

}



button{

margin-top:10px;

padding:12px 20px;

border:0;

border-radius:8px;

background:#1b4d3e;

color:white;

font-size:16px;

cursor:pointer;

}


button:hover{

background:#286b55;

}



#result{

margin:20px;

font-size:18px;

}


#suggestions{

margin-top:20px;

}
