body{

    font-family:Arial, sans-serif;

    background:#f4f4f4;

    text-align:center;

    margin-top:80px;

}

h1{

    color:#006747;

}

button{

    background:#006747;

    color:white;

    border:none;

    padding:15px 30px;

    font-size:18px;

    border-radius:8px;

    cursor:pointer;

}

button:hover{

    background:#008a5b;

}
